.aside {
  .with-aside & {
    flex: 0 0 375px;
    width: 100%;
    max-width: 375px;
    margin: -612px 0 0 0;
    margin-left: 30px;

    @include max-width(1200px) {
      margin: -532px 0 0 0;
    }

    @include max-width(1024px) {
      max-width: 100%;
      margin: 40px -15px 0;
    }
  }

  @include min-width(1024px) {
    &--offset-sm {
      .with-aside & {
        margin-top: -57px;
      }
    }
  }

  .aside__block {
    @include max-width(1024px) {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        margin: 0 !important;
      }
    }
  }
}

.aside__block + .aside__block {
  margin: 20px 0 0 0;
}

.aside__lang-wrap {
  position: relative;
}

.aside__lang {
  position: absolute;
  top: 28px;
  right: 24px;

  @include max-width(1024px) {
    top: 8px;
    right: 20px;
  }
}
