.video__top {
  margin: 0 0 44px 0;
}

.video__title {
  margin: 0;
  line-height: 1;
}

.video__block {
  --plyr-color-main: #ac003e;
  --plyr-control-icon-size: 20px;

  position: relative;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.71;
  color: $gray-dark;
  border-radius: 4px;

  .plyr--paused .plyr__controls {
    visibility: hidden;
    opacity: 0;
  }

  .plyr__poster {
    background-size: cover;
  }

  .plyr__control--overlaid {
    background: rgba($white, 0.2);
    backdrop-filter: blur(15px);

    &:hover {
      background: rgba($white, 0.4);
    }

    &:focus {
      box-shadow: 0 0 2px 2px rgba($white, 0.2);
    }

    &::before,
    &::after {
      position: absolute;
      top: -20px;
      right: -20px;
      bottom: -20px;
      left: -20px;
      z-index: 0;
      pointer-events: none;
      content: '';
      border: 2px solid $white;
      border-radius: 50%;
      opacity: 0.4;
      opacity: 0;
      animation: pulse 2s linear infinite;
    }

    &::after {
      animation-delay: 2.5s;
    }
  }
}

.video__block + .video__block {
  margin: 44px 0 0 0;
}

.video__block q {
  display: inline-block;
  padding: 0 0 0 20px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.71;
  color: $gray-dark;
  border-left: 2px solid $main-light;
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
