// Extensions - Расширения
@import 'extensions/reset';

// Libs - Библиотеки
@import '~swiper/swiper-bundle.css';
@import '~plyr/dist/plyr.css';
@import '~intl-tel-input/build/css/intlTelInput.min.css';

// Variables - Переменные
@import 'variables/fonts';
@import 'variables/variables';
@import 'variables/mixins';
@import 'variables/global';
@import 'variables/typography';
@import 'variables/modals';
@import 'variables/drawer';
@import 'variables/UI';

// Components - Компоненты
@import 'components/personal';
@import 'components/form';
@import 'components/form-order';
@import 'components/order-step';
@import 'components/card-order';
@import 'components/promo-code';
@import 'components/promo-property';
@import 'components/tooltip';
@import 'components/purchase';
@import 'components/dropdown';
@import 'components/lang';

// Sections - Разделы сайта
@import 'sections/header';
@import 'sections/menu';
@import 'sections/footer';
@import 'sections/banner';
@import 'sections/content';
@import 'sections/info';
@import 'sections/aside';
@import 'sections/partner';
@import 'sections/video';
@import 'sections/terms';
@import 'sections/auth';
@import 'sections/mobile';
@import 'sections/order';
@import 'sections/social';
@import 'sections/promo';

// Blocks - Блоки
@import 'blocks/main-block';
@import 'blocks/guarantees-block';
@import 'blocks/video-block';
@import 'blocks/partners-block';
@import 'blocks/banner-block';
