<div class="card-order">
	<h4 class="card-order__title h5">Стоимость и состав заказа</h4>
	<div class="card-order__header">
		<img src="../../img/medal-order.png" alt="Сербряная медаль «Коронационное яйцо»" class="card-order__img">
		<p class="card-order__name">Сербряная медаль «Коронационное яйцо»</p>
	</div>
	<div class="card-order__body">
		<div class="card-order__info">
			<div class="card-order__info-row">
				<div class="card-order__info-title">Медаль</div>
				<div class="card-order__info-value">1 745 ₽</div>
			</div>
			<div class="card-order__info-row">
				<div class="card-order__info-title">Сертификат подлинности, бархатный мешочек</div>
				<div class="card-order__info-value">в подарок!</div>
			</div>
		</div>

		<div class="card-order__promo-code promo-code">
			<div class="promo-code__title"></div>
			<div class="promo-code__box">
				<div class="promo-code__input-box">
					<input type="text" placeholder="_ _ _ _ _ _ _" class="promo-code__input input">
				</div>
				<button class="promo-code__button button button--empty">Применить</button>
			</div>
		</div>

		<div class="card-order__total">
			<div class="card-order__total-title">ИТОГО</div>
			<div class="card-order__total-price">1745 ₽</div>
		</div>
	</div>
</div>