<!-- block -->
<div class="aside__block">
  <!-- guarantees-block -->
  <div class="guarantees-block">
    <!-- wrapper -->
    <div class="guarantees-block__wrapper">
      <p class="guarantees-block__title">Наши гарантии</p>
      <!-- list -->
      <div class="guarantees-block__list">
        <!-- item -->
        <div class="guarantees-block__item">
          <div class="guarantees-block__item-image">
            <img src="../../img/guarantees-img-1.png" alt="Подлинность">
          </div>
          <div class="guarantees-block__item-text">
            <h6 class="guarantees-block__item-title">Подлинность</h6>
            <p>Наши эксперты гарантируют подлинность каждого товара</p>
          </div>
        </div>
        <!-- ./ End of item -->
        <!-- item -->
        <div class="guarantees-block__item">
          <div class="guarantees-block__item-image">
            <img src="../../img/guarantees-img-2.png" alt="Удовлетворенность">
          </div>
          <div class="guarantees-block__item-text">
            <h6 class="guarantees-block__item-title">Удовлетворенность</h6>
            <p>Убедитесь, что медаль вам нравится или верните за 14 дней</p>
          </div>
        </div>
        <!-- ./ End of item -->
        <!-- item -->
        <div class="guarantees-block__item">
          <div class="guarantees-block__item-image">
            <img src="../../img/guarantees-img-1.png" alt="100% качество">
          </div>
          <div class="guarantees-block__item-text">
            <h6 class="guarantees-block__item-title">100% качество</h6>
            <p>Каждая медаль проходит строгий контроль качества</p>
          </div>
        </div>
        <!-- ./ End of item -->
      </div>
      <!-- ./ End of list -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
  <!-- ./ End of guarantees-block -->
</div>
<!-- ./ End of block -->