<!-- block -->
<div class="aside__block">
  <!-- main-block -->
  <div class="main-block">
    <!-- wrapper -->
    <div class="main-block__wrapper">
      <!-- logo -->
      <a href="#" class="main-block__logo">
        <img src="../../img/logo.svg" alt="Монетный двор">
      </a>
      <!-- ./ End of logo -->
      <!-- title -->
      <p class="main-block__title">Рады видеть снова, Александр!</p>
      <!-- ./ End of title -->
      <!-- personal -->
      <div class="personal">
        <img src="../../img/stars.svg" alt="Звезды" class="personal__stars">
        <p class="personal__message">Вам доступно <a href="#">личное бронирование!</a></p>
        <!-- info -->
        <div class="personal__info">
          <div class="personal__info-row">
            <div class="personal__info-icon">
              <svg class="personal__info-svg">
                <use xlink:href="#mail"></use>
              </svg>
            </div>
            <div class="personal__info-text">
              <b>E-mail:</b> Alkonst_1987@mail.ru
            </div>
          </div>
        </div>
        <!-- ./ End of info -->
        <!-- profile -->
        <div class="personal__profile">
          <a href="#" class="personal__profile-link">
            <span class="personal__profile-text">Посмотреть все данные получателя</span>
            <svg class="personal__profile-arrow">
              <use xlink:href="#arrow-right"></use>
            </svg>
          </a>
        </div>
        <!-- ./ End of profile -->
      </div>
      <!-- ./ End of personal -->
      <!-- button -->
      <div class="main-block__button">
        <button class="button">Заказать</button>
      </div>
      <!-- ./ End of button -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
  <!-- ./ End of main-block -->
</div>
<!-- ./ End of block -->