<!-- block -->
<div class="aside__block">
  <!-- main-block -->
  <div class="main-block">
    <!-- wrapper -->
    <div class="main-block__wrapper">
      <!-- logo -->
      <a href="#" class="main-block__logo">
        <img src="../../img/logo.png" alt="Монетный двор">
      </a>
      <!-- ./ End of logo -->
      <!-- title -->
      <p class="main-block__title">Сожалеем, товар временно зкончился!</p>
      <!-- ./ End of title -->
      <!-- text -->
      <div class="main-block__text">
        <p>Посмотреть аналогичные товары можно по ссылке <a href="#">imdvor.ru</a></p>
        <p>Мы можем оповестить вас о поступлении или узнайте информацию самостоятелно: +7 (495) 974-29-77 с Пн-Вс
          9:00-21:00 (МСК).</p>
      </div>
      <!-- ./ End of text -->
      <!-- button -->
      <div class="main-block__button">
        <button class="button" data-swap="#form1">хочу Узнать о поступлении</button>
      </div>
      <!-- ./ End of button -->
      <!-- form -->
      <form class="main-block__form form" id="form1">
        <p class="form__title">Заполние поля формы, чтобы получить оповещение</p>
        <!-- grid -->
        <div class="form__grid">
          <!-- row -->
          <div class="form__row">
            <div class="form__row-label">
              <label for="name">Имя<em>*</em></label>
            </div>
            <div class="form__row-input">
              <input id="name" type="text" class="input">
            </div>
          </div>
          <!-- ./ End of row -->
          <!-- row -->
          <div class="form__row">
            <div class="form__row-label">
              <label for="surname">Фамилия<em>*</em></label>
            </div>
            <div class="form__row-input">
              <input id="surname" type="text" class="input">
            </div>
          </div>
          <!-- ./ End of row -->
          <!-- row -->
          <div class="form__row">
            <div class="form__row-label">
              <label for="phone">Телефон<em>*</em></label>
            </div>
            <div class="form__row-input">
              <input id="phone" type="text" class="input j_mask" placeholder="+7 (___) ___-__-__">
            </div>
          </div>
          <!-- ./ End of row -->
          <!-- row -->
          <div class="form__row">
            <div class="form__row-label">
              <label for="email">E-mail<em>*</em></label>
            </div>
            <div class="form__row-input">
              <input id="email" type="email" class="input">
            </div>
          </div>
          <!-- ./ End of row -->
        </div>
        <!-- ./ End of grid -->
        <!-- submit -->
        <div class="form__submit">
          <input type="submit" value="отправить" class="button">
        </div>
        <!-- ./ End of submit -->
        <!-- policy -->
        <div class="form__policy">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <div class="checkbox__custom">
              <svg class="checkbox__icon">
                <use xlink:href="#done"></use>
              </svg>
            </div>
            <span class="checkbox__text">
              Я согласен с <a href="#" class="checkbox__link">условиями</a> заказа медали, в том числе с <a href="#"
                class="checkbox__link">Соглашением об условиях заказа</a> и с <a href="#"
                class="checkbox__link">Политикой обработки персональных данных</a>
            </span>
          </label>
        </div>
        <!-- ./ End of policy -->
        <!-- message -->
        <div class="form__message">
          <button class="form__message-close button button--close" type="button">
            <svg>
              <use xlink:href="#close"></use>
            </svg>
          </button>
          <div class="form__message-icon">
            <img src="../../img/check-medal.png">
          </div>
          <div class="form__message-text">
            <h6>Запрос успешно отправлен.</h6>
            <p>Спасибо, что проявляете внимание к нашему товару!</p>
          </div>
        </div>
        <!-- ./ End of message -->
      </form>
      <!-- ./ End of form -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
  <!-- ./ End of main-block -->
</div>
<!-- ./ End of block -->