<!-- block -->
<div class="aside__block">
  <!-- main-block -->
  <div class="main-block">
    <!-- wrapper -->
    <div class="main-block__wrapper">
      <!-- logo -->
      <a href="#" class="main-block__logo">
        <img src="../../img/logo.svg" alt="Монетный двор">
      </a>
      <!-- ./ End of logo -->
      <!-- title -->
      <p class="main-block__title">Рады видеть снова, Александр!</p>
      <!-- ./ End of title -->
      <!-- personal -->
      <div class="personal">
        <img src="../../img/stars.svg" alt="Звезды" class="personal__stars">
        <p class="personal__message">Вам доступно <a href="#">личное бронирование!</a></p>
        <!-- info -->
        <div class="personal__info">
          <div class="personal__info-row">
            <div class="personal__info-icon">
              <svg class="personal__info-svg">
                <use xlink:href="#mail"></use>
              </svg>
            </div>
            <div class="personal__info-text">
              <b>E-mail:</b> Alkonst_1987@mail.ru
            </div>
          </div>
          <div class="personal__info-row">
            <div class="personal__info-icon">
              <svg class="personal__info-svg">
                <use xlink:href="#phone"></use>
              </svg>
            </div>
            <div class="personal__info-text">
              <b>Телефон:</b> +7(953) 723-41-20
            </div>
          </div>
          <div class="personal__info-row">
            <div class="personal__info-icon">
              <svg class="personal__info-svg">
                <use xlink:href="#map-pin"></use>
              </svg>
            </div>
            <div class="personal__info-text">
              <b>Адрес:</b> г. Тамбов, ул. Набережная 28/4, кв. 124, 3920002
            </div>
          </div>
        </div>
        <!-- ./ End of info -->
        <!-- edit -->
        <div class="personal__edit">
          <div class="personal__edit-icon">
            <svg class="personal__edit-svg">
              <use xlink:href="#edit"></use>
            </svg>
          </div>
          <div class="personal__edit-text">
            <a href="#">Данные не совпадают? Измените</a>
          </div>
        </div>
        <!-- ./ End of edit -->
      </div>
      <!-- ./ End of personal -->
      <!-- button -->
      <div class="main-block__button">
        <button class="button">Заказать</button>
      </div>
      <!-- ./ End of button -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
  <!-- ./ End of main-block -->
</div>
<!-- ./ End of block -->