<!-- block -->
<div class="aside__block">
  <!-- main-block -->
  <div class="main-block">
    <!-- wrapper -->
    <div class="main-block__wrapper">
      <!-- logo -->
      <a href="#" class="main-block__logo">
        <img src="../../img/logo.svg" alt="Монетный двор">
      </a>
      <!-- ./ End of logo -->
      <!-- title -->
      <p class="main-block__title">Заказать медаль</p>
      <!-- ./ End of title -->
      <!-- text -->
      <div class="main-block__text">
        <p>Для заказа заполните все поля формы</p>
      </div>
      <!-- ./ End of text -->
      <!-- form -->
      <form class="main-block__form form" data-form-hiding="form-hiding-1">
        <!-- hidden -->
        <div class="form__hidden">
          <!-- grid -->
          <div class="form__grid">
            <!-- row -->
            <div class="form__row">
              <div class="form__row-label">
                <label for="name">Имя<em>*</em></label>
              </div>
              <div class="form__row-input">
                <input id="name" type="text" class="input">
              </div>
            </div>
            <!-- ./ End of row -->
            <!-- row -->
            <div class="form__row">
              <div class="form__row-label">
                <label for="surname">Фамилия<em>*</em></label>
              </div>
              <div class="form__row-input">
                <input id="surname" type="text" class="input">
              </div>
            </div>
            <!-- ./ End of row -->
            <!-- row -->
            <div class="form__row">
              <div class="form__row-label">
                <label for="phone">Телефон<em>*</em></label>
              </div>
              <div class="form__row-input">
                <input id="phone" type="text" class="input j_mask" placeholder="+7 (___) ___-__-__">
              </div>
            </div>
            <!-- ./ End of row -->
            <!-- row -->
            <div class="form__row">
              <div class="form__row-label">
                <label for="email">E-mail<em>*</em></label>
              </div>
              <div class="form__row-input">
                <input id="email" type="email" class="input">
              </div>
            </div>
            <!-- ./ End of row -->
            <!-- row -->
            <div class="form__row">
              <div class="form__row-label">
                <label for="city">Город<em>*</em></label>
              </div>
              <div class="form__row-input">
                <input id="city" type="email" class="input">
              </div>
            </div>
            <!-- ./ End of row -->
            <!-- row -->
            <div class="form__row">
              <div class="form__row-label">
                <label for="street">Улица<em>*</em></label>
              </div>
              <div class="form__row-input">
                <input id="street" type="email" class="input">
              </div>
            </div>
            <!-- ./ End of row -->
            <!-- row -->
            <div class="form__row">
              <div class="form__row-label">
                <label for="house">Дом<em>*</em></label>
              </div>
              <div class="form__row-input">
                <input id="house" type="email" class="input">
              </div>
            </div>
            <!-- ./ End of row -->
            <!-- row -->
            <div class="form__row">
              <div class="form__row-label">
                <label for="apartment">Квартира</label>
              </div>
              <div class="form__row-input">
                <input id="apartment" type="email" class="input">
              </div>
            </div>
            <!-- ./ End of row -->
            <!-- row -->
            <div class="form__row">
              <div class="form__row-label">
                <label for="zip">Почтовый индекс<em>*</em></label>
              </div>
              <div class="form__row-input">
                <input id="zip" type="email" class="input" placeholder="_ _ _ _ _ _">
              </div>
            </div>
            <!-- ./ End of row -->
          </div>
          <!-- ./ End of grid -->
          <!-- payment -->
          <div class="form__payment">
            <p class="form__payment-title">Выберите способ оплаты</p>
            <div class="form__payment-item">
              <label class="form__payment-label">
                <input class="form__payment-input" type="radio" name="payment">
                <div class="form__payment-block">
                  <div class="form__payment-box"></div>
                  <div class="form__payment-row">
                    <div class="form__payment-image">
                      <img src="../../img/payment-1.png">
                    </div>
                    <div class="form__payment-text">
                      <span>Оплата картой онлайн</span>
                    </div>
                  </div>
                </div>
              </label>
            </div>
            <div class="form__payment-item">
              <label class="form__payment-label">
                <input class="form__payment-input" type="radio" name="payment">
                <div class="form__payment-block">
                  <div class="form__payment-box"></div>
                  <div class="form__payment-row">
                    <div class="form__payment-image">
                      <img src="../../img/payment-2.png">
                    </div>
                    <div class="form__payment-text">
                      <span>Оплата при получении</span>
                    </div>
                  </div>
                </div>
              </label>
            </div>
            <div class="form__payment-item">
              <label class="form__payment-label form__payment-label--gold">
                <input class="form__payment-input" type="radio" name="payment">
                <div class="form__payment-block">
                  <div class="form__payment-box"></div>
                  <div class="form__payment-row">
                    <div class="form__payment-image">
                      <img src="../../img/payment-3.png">
                    </div>
                    <div class="form__payment-text">
                      <span>Электронный платеж + <b>подписка на коллекцию</b>!</span>
                    </div>
                  </div>
                  <div class="form__payment-row">
                    <a href="#">Посмотреть условия подписки ➝</a>
                  </div>
                </div>
              </label>
            </div>
          </div>
          <!-- ./ End of payment -->
        </div>
        <!-- ./ End of hidden -->
        <!-- submit -->
        <div class="form__submit">
          <input type="submit" value="Заказать" class="button">
        </div>
        <!-- ./ End of submit -->
        <!-- policy -->
        <div class="form__policy">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" />
            <div class="checkbox__custom">
              <svg class="checkbox__icon">
                <use xlink:href="#done"></use>
              </svg>
            </div>
            <span class="checkbox__text">
              Я согласен с <a href="#" class="checkbox__link">условиями</a> заказа медали, в том числе с <a href="#"
                class="checkbox__link">Соглашением об условиях заказа</a> и с <a href="#"
                class="checkbox__link">Политикой обработки персональных данных</a>
            </span>
          </label>
        </div>
        <!-- ./ End of policy -->
      </form>
      <!-- ./ End of form -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
  <!-- ./ End of main-block -->
</div>
<!-- ./ End of block -->