<!-- block -->
<div class="aside__block">
  <!-- partners-block -->
  <div class="partners-block">
    <!-- wrapper -->
    <div class="partners-block__wrapper">
      <p class="partners-block__title">Наши партнеры</p>
      <!-- list -->
      <div class="partners-block__list">
        <!-- item -->
        <a href="#" class="partners-block__item">
          <img src="../../img/partner-img-1.png">
        </a>
        <!-- ./ End of item -->
        <!-- item -->
        <a href="#" class="partners-block__item">
          <img src="../../img/partner-img-2.png">
        </a>
        <!-- ./ End of item -->
        <!-- item -->
        <a href="#" class="partners-block__item">
          <img src="../../img/partner-img-3.png">
        </a>
        <!-- ./ End of item -->
        <!-- item -->
        <a href="#" class="partners-block__item">
          <img src="../../img/partner-img-4.png">
        </a>
        <!-- ./ End of item -->
        <!-- item -->
        <a href="#" class="partners-block__item">
          <img src="../../img/partner-img-5.png">
        </a>
        <!-- ./ End of item -->
        <!-- item -->
        <a href="#" class="partners-block__item">
          <img src="../../img/partner-img-6.png">
        </a>
        <!-- ./ End of item -->
      </div>
      <!-- ./ End of list -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
  <!-- ./ End of partners-block -->
</div>
<!-- ./ End of block -->