<!-- block -->
<div class="aside__block">
  <!-- video-block -->
  <div class="video-block">
    <!-- wrapper -->
    <div class="video-block__wrapper">
      <div class="plyr__video-embed" data-player="video">
        <iframe src="https://www.youtube.com/embed/bTqVqk7FSmY?origin=https://plyr.io"
          data-poster="${require('../../img/video-cover.png')}"></iframe>
      </div>
    </div>
    <!-- ./ End of wrapper -->
  </div>
  <!-- ./ End of video-block -->
</div>
<!-- ./ End of block -->