<!-- banner -->
<section class="banner">
  <div class="container">
    <!-- wrapper -->
    <div class="banner__wrapper">
      <!-- banner__slider -->
      <div class="banner__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../img/banner-img-1.png" alt="Памятные медали">
          </div>
          <div class="swiper-slide">
            <img src="../img/banner-img-1.png" alt="Памятные медали">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <!-- ./ End of banner__slider -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
</section>
<!-- ./ End of banner -->