<!-- footer -->
<footer class="footer">
  <div class="container">
    <!-- wrapper -->
    <div class="footer__wrapper">
      <!-- top -->
      <div class="footer__top">
        <div class="footer__top-block">
          <a href="#" class="footer__logo">
            <img src="../img/logo.png">
          </a>
        </div>
        <div class="footer__top-block">
          <!-- info -->
          <div class="footer__info">
            <p>ООО "Императорский монетный двор"</p>
            <p>Серия 77 № 015939139 от 01.06.2012</p>
            <p>Выдан МИФНС № 46 по г. Москве</p>
          </div>
          <!-- ./ End of info -->
          <!-- social -->
          <div class="footer__social">
            <a href="#" class="footer__social-item">
              <svg class="footer__social-svg">
                <use xlink:href="#fb"></use>
              </svg>
            </a>
            <a href="#" class="footer__social-item">
              <svg class="footer__social-svg">
                <use xlink:href="#vk"></use>
              </svg>
            </a>
            <a href="#" class="footer__social-item">
              <svg class="footer__social-svg">
                <use xlink:href="#inst"></use>
              </svg>
            </a>
            <a href="#" class="footer__social-item">
              <svg class="footer__social-svg">
                <use xlink:href="#ok"></use>
              </svg>
            </a>
            <a href="#" class="footer__social-item">
              <svg class="footer__social-svg">
                <use xlink:href="#yb"></use>
              </svg>
            </a>
            <a href="#" class="footer__social-item">
              <svg class="footer__social-svg">
                <use xlink:href="#pp"></use>
              </svg>
            </a>
          </div>
          <!-- ./ End of social -->
        </div>
        <div class="footer__top-block">
          <!-- contacts -->
          <div class="footer__contacts">
            <div class="footer__contacts-item">
              <div class="footer__contacts-icon">
                <svg class="footer__contacts-svg">
                  <use xlink:href="#phone"></use>
                </svg>
              </div>
              <div class="footer__contacts-content">
                <a href="tel:+74959742977" class="footer__contacts-link">+7 (495) 974-29-77</a>
                <p class="footer__contacts-text">Пн-Вс 9:00-21:00 (МСК)</p>
              </div>
            </div>
            <div class="footer__contacts-item">
              <div class="footer__contacts-icon">
                <svg class="footer__contacts-svg">
                  <use xlink:href="#map-pin"></use>
                </svg>
              </div>
              <div class="footer__contacts-content">
                <p class="footer__contacts-text">111024, г. Москва, ул. 2-я Кабельная, дом 2, стр.19</p>
              </div>
            </div>
            <div class="footer__contacts-item">
              <div class="footer__contacts-icon"></div>
              <div class="footer__contacts-content">
                <p class="footer__contacts-text"> <a href="#">О компании</a></p>
              </div>
            </div>
          </div>
          <!-- ./ End of contacts -->
        </div>
      </div>
      <!-- ./ End of top -->
      <!-- bottom -->
      <div class="footer__bottom">
        <div class="footer__bottom-block">
          <!-- copyright -->
          <div class="footer__copyright">
            © ООО "Императорский монетный двор", 2021
          </div>
          <!-- ./ End of copyright -->
        </div>
        <div class="footer__bottom-block">
          <!-- payment -->
          <div class="footer__payment">
            <img src="../img/sber.png">
            <img src="../img/visa.png">
            <img src="../img/mir.png">
            <img src="../img/master.png">
          </div>
          <!-- ./ End of payment -->
        </div>
      </div>
      <!-- ./ End of bottom -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
</footer>
<!-- ./ End of footer -->