<!-- footer -->
<footer class="footer footer--white footer--sm">
  <div class="container">
    <!-- wrapper -->
    <div class="footer__wrapper">
      <!-- bottom -->
      <div class="footer__bottom">
        <div class="footer__bottom-block">
          <!-- copyright -->
          <div class="footer__copyright">
            © ООО "Императорский монетный двор", 2021
          </div>
          <!-- ./ End of copyright -->
        </div>
        <div class="footer__bottom-block">
          <!-- payment -->
          <div class="footer__payment">
            <img src="../img/sber.png">
            <img src="../img/visa.png">
            <img src="../img/mir.png">
            <img src="../img/master.png">
          </div>
          <!-- ./ End of payment -->
        </div>
      </div>
      <!-- ./ End of bottom -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
</footer>
<!-- ./ End of footer -->