<!-- header -->
<header class="header">
  <div class="container">
    <!-- wrapper -->
    <div class="header__wrapper">
      <!-- logo -->
      <a href="#" class="header__logo">
        <img src="../img/mobile-logo.png">
      </a>
      <!-- ./ End of logo -->
      <!-- menu -->
      <button class="header__menu j_openMenu">
        <svg class="header__menu-svg">
          <use xlink:href="#menu"></use>
        </svg>
      </button>
      <!-- ./ End of menu -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
</header>
<!-- ./ End of header -->