<!-- info -->
<section class="info">
  <!-- wrapper -->
  <div class="info__wrapper">
    <!-- tabs -->
    <div class="info__tabs" data-tabs="info">
      <button class="info__tab active" data-tab="1">Описание</button>
      <button class="info__tab" data-tab="2">Коллекция</button>
      <button class="info__tab" data-tab="3">Доставка и оплата</button>
      <button class="info__tab" data-tab="4">Условия</button>
    </div>
    <!-- ./ End of tabs -->
    <!-- contents -->
    <div class="info__contents" data-tabs-contents="info">
      <!-- content -->
      <div class="info__content" data-tab-content="1" id="description">
        <div class="info__mobile info__mobile-title">Описание</div>
        <!-- block -->
        <div class="info__block">
          <h1 class="info__title h5"
            >«Коронационное яйцо» — первый выпуск медали из серии Императорская коллекция Фаберже!</h1
          >
          <h5>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты.</h5>
          <p>«Коронационное яйцо» — первый выпуск медали из серии Императорская коллекция Фаберже!</p>
        </div>
        <!-- ./ End of block -->
        <!-- block -->
        <div class="info__block">
          <h2 class="info__title h5">Спецификация</h2>
          <table>
            <tr>
              <td><span>Покрытие</span></td>
              <td>Чистое серебро с выборочной цветной печатью на аверсе</td>
            </tr>
            <tr>
              <td><span>Особенности исполнения</span></td>
              <td>Цветная печать, инкрустация кристаллом Swarovski</td>
            </tr>
            <tr>
              <td><span>Размер</span></td>
              <td>39 х 29 мм</td>
            </tr>
            <tr>
              <td><span>Качество чеканки</span></td>
              <td>«Пруф-лайк»</td>
            </tr>
            <tr>
              <td><span>Производство</span></td>
              <td>По специальному заказу Императорского Монетного двора</td>
            </tr>
            <tr>
              <td><span>В комплекте</span></td>
              <td>Сертификат подлинности, бархатный мешочек</td>
            </tr>
          </table>
        </div>
        <!-- ./ End of block -->
        <!-- block -->

        <div class="terms__accordion-item  terms__accordion-more terms__accordion-more--mobile" data-accordion="terms1">
          <button class="terms__accordion-button accordion-button">
            Подробнее
            <div class="terms__accordion-icon">
              <svg class="terms__accordion-svg">
                <use xlink:href="#icon-angle"></use>
              </svg>
            </div>
          </button>
          <div class="terms__accordion-hidden accordion-content" style="">
            <div class="terms__accordion-content">
              <p
                >Сервис автоматического Электронного платежа создан для того, чтобы вы могли не беспокоиться о
                своевременном получении и оплате последующих выпусков медалей серий, на которые вы подписаны.
              </p>
            </div>
          </div>
        </div>
        <div class="info__block">
          <p
            ><q
              >Официальный выпуск памятной медали из серебра 925 пробы, посвященной знаменитой серии пасхальных яиц
              Карла Фаберже и выпущенной в честь 400-летия со дня восшествия Михаила Романова на московский престол!</q
            >
          </p>
          <p
            >На аверсе медали надпись «1897» — год создания яйца, рельефное изображение «Коронационного яйца» и сюрприза
            — точной копии кареты, использовавшейся при коронации последнего Российского императора из династии
            Романовых и его жены в 1896 г. На реверсе расположен рельефный профиль знаменитого ювелира Карла Фаберже и
            геральдический символ дома Романовых - три императорских короны.</p
          >
          <p
            >Только сейчас, c помощью новейших технологий в нумизматическом производстве, стало возможным воспроизвести
            изображение на медали размером 28,5*38,5 мм в мельчайших деталях и высшем качестве чеканки ("пруф").</p
          >
        </div>
        <!-- ./ End of block -->
        <!-- block -->
        <div class="info__block">
          <h3 class="info__title h5">Гарантия подлинности и ограниченный тираж</h3>
          <p
            >Отдавая дань памяти ювелирному произведению знаменитой серии пасхальных яиц Карла Фаберже — «Коронационному
            яйцу», Императорский монетный двор имеет честь впервые представить Вашему вниманию эту памятную
            коллекционную медаль из серебра 925 пробы по льготной цене со скидкой 50% — всего за 1745 руб. вместо 3490
            руб. (+349 руб. за упаковку и доставку 1-м классом). Заказав медаль «Коронационное яйцо», Вы также получаете
            футляр для хранения всей серии медалей «Императорская коллекция Фаберже» в подарок.</p
          >
          <p
            >Заказав эту медаль, Вы получаете приоритетное право на получение, без риска и только после одобрения с
            Вашей стороны, следующих выпусков "Императорской коллекции Фаберже". Выпуск это коллекции осуществляется в
            рамках официальной программы Императорского монетного двора.</p
          >
        </div>
        <!-- ./ End of block -->
        <div class="info__mobile info__mobile-gap"></div>
      </div>
      <!-- ./ End of content -->
      <!-- content -->
      <div class="info__content" data-tab-content="2">
        <!-- info__accordion -->
        <div class="info__accordion info__accordion--first" data-accordion="mobile1">
          <button class="info__accordion-button accordion-button">
            <p class="info__accordion-title">Коллекция</p>
            <div class="info__accordion-icon">
              <svg class="info__accordion-svg">
                <use xlink:href="#angle"></use>
              </svg>
            </div>
          </button>
          <div class="info__accordion-hidden accordion-content">
            <div class="info__accordion-content">
              <p>Коллекция</p>
            </div>
          </div>
        </div>
        <!-- ./ End of info__accordion -->
      </div>
      <!-- ./ End of content -->
      <!-- content -->
      <div class="info__content" data-tab-content="3">
        <!-- info__accordion -->
        <div class="info__accordion" data-accordion="mobile2">
          <button class="info__accordion-button accordion-button">
            <p class="info__accordion-title">Доставка и оплата</p>
            <div class="info__accordion-icon">
              <svg class="info__accordion-svg">
                <use xlink:href="#angle"></use>
              </svg>
            </div>
          </button>
          <div class="info__accordion-hidden accordion-content">
            <div class="info__accordion-content">
              <p>Доставка и оплата</p>
            </div>
          </div>
        </div>
        <!-- ./ End of info__accordion -->
      </div>
      <!-- ./ End of content -->
      <!-- content -->
      <div class="info__content" data-tab-content="4">
        <!-- info__accordion -->
        <div class="info__accordion" data-accordion="mobile3">
          <button class="info__accordion-button accordion-button">
            <p class="info__accordion-title">Условия</p>
            <div class="info__accordion-icon">
              <svg class="info__accordion-svg">
                <use xlink:href="#angle"></use>
              </svg>
            </div>
          </button>
          <div class="info__accordion-hidden accordion-content">
            <div class="info__accordion-content">
              <p>Условия</p>
            </div>
          </div>
        </div>
        <!-- ./ End of info__accordion -->
      </div>
      <!-- ./ End of content -->
    </div>
    <!-- ./ End contents -->
  </div>
  <!-- ./ End of wrapper -->
</section>
<!-- ./ End of info -->
