<!-- menu -->
<div class="menu">
  <div class="container">
    <!-- wrapper -->
    <div class="menu__wrapper">
      <!-- inner -->
      <div class="menu__inner">
        <!-- menu__top -->
        <div class="menu__top">
          <!-- logo -->
          <a href="#" class="menu__logo">
            <img src="../img/mobile-logo.png">
          </a>
          <!-- ./ End of logo -->
          <!-- menu -->
          <button class="menu__close button button--close j_closeMenu">
            <svg class="menu__close-svg">
              <use xlink:href="#close"></use>
            </svg>
          </button>
          <!-- ./ End of menu -->
        </div>
        <!-- ./ End of top -->
        <!-- menu__nav -->
        <nav class="menu__nav">
          <ul>
            <li>
              <a href="#" data-scroll="#description">
                Описание
                <svg>
                  <use xlink:href="#angle"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" data-scroll="mobile1">
                Коллекция
                <svg>
                  <use xlink:href="#angle"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" data-scroll="mobile2">
                Доствка и оплата
                <svg>
                  <use xlink:href="#angle"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" data-scroll="mobile3">
                Условия
                <svg>
                  <use xlink:href="#angle"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                О компании
                <svg>
                  <use xlink:href="#angle"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
        <!-- ./ End of nav -->
        <!-- bottom -->
        <div class="menu__bottom">
          <!-- contacts -->
          <div class="menu__contacts">
            <div class="menu__contacts-item">
              <div class="menu__contacts-icon">
                <svg class="menu__contacts-svg">
                  <use xlink:href="#phone"></use>
                </svg>
              </div>
              <div class="menu__contacts-content">
                <a href="tel:+74959742977" class="menu__contacts-link">+7 (495) 974-29-77</a>
                <p class="menu__contacts-text">Пн-Вс 9:00-21:00 (МСК)</p>
              </div>
            </div>
            <div class="menu__contacts-item">
              <div class="menu__contacts-icon">
                <svg class="menu__contacts-svg">
                  <use xlink:href="#map-pin"></use>
                </svg>
              </div>
              <div class="menu__contacts-content">
                <p class="menu__contacts-text">111024, г. Москва, ул. 2-я Кабельная, дом 2, стр.19</p>
              </div>
            </div>
          </div>
          <!-- ./ End of contacts -->
          <!-- social -->
          <div class="menu__social">
            <a href="#" class="menu__social-item">
              <svg class="menu__social-svg">
                <use xlink:href="#fb2"></use>
              </svg>
            </a>
            <a href="#" class="menu__social-item">
              <svg class="menu__social-svg">
                <use xlink:href="#vk2"></use>
              </svg>
            </a>
            <a href="#" class="menu__social-item">
              <svg class="menu__social-svg">
                <use xlink:href="#inst2"></use>
              </svg>
            </a>
            <a href="#" class="menu__social-item">
              <svg class="menu__social-svg">
                <use xlink:href="#ok2"></use>
              </svg>
            </a>
            <a href="#" class="menu__social-item">
              <svg class="menu__social-svg">
                <use xlink:href="#yb2"></use>
              </svg>
            </a>
            <a href="#" class="menu__social-item">
              <svg class="menu__social-svg">
                <use xlink:href="#pp2"></use>
              </svg>
            </a>
          </div>
          <!-- ./ End of social -->
        </div>
        <!-- ./ End of bottom -->
      </div>
      <!-- ./ End of inner -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
</div>
<!-- ./ End of menu -->