<!-- order -->
<section class="order">
  <!-- header -->
  <header class="order__header">
    <div class="container">
      <div class="order__header-wrapper">
        <a href="#" class="order__header-back">🠔 Назад к описанию</a>
        <a href="#" class="order__header-logo">
          <img src="../img/logo.svg">
        </a>
        <div class="order__header-contacts">
          <a href="tel:+74959742977">+7 (495) 974-29-77</a>
          <p>Пн-Вс 9:00-21:00 (МСК)</p>
        </div>
      </div>
    </div>
  </header>
  <!-- ./ End of header -->
  <div class="container">
    <!-- wrapper -->
    <div class="order__wrapper">
      <!-- content -->
      <div class="order__content">
        <h1 class="order__title h4"><img src="../img/check-medal-big.png">Ваш заказ №188288282-8 успешно оформлен!</h1>
        <!-- description -->
        <div class="order__description">
          <p>Детали заказа отправлены на указанный e-mail: <a href="#">allageorgievna1867</a>.</p>
          <p>Вы можете отслживать статус заказав своемличном кабинете в разделе <a href="#">Заказы</a></p>
          <p>Оператор свяжется с вами для подтверждения заказа в ближайшее время.</p>
        </div>
        <!-- ./ End of description -->
        <!-- block -->
        <div class="order__block">
          <p class="order__block-title">Данные получателя</p>
          <!-- recipient -->
          <div class="order__recipient">
            <p class="order__recipient-name">Константинопольский Александр </p>
            <div class="order__recipient-contacts">
              <div class="order__recipient-item">
                <div class="order__recipient-icon">
                  <svg class="order__recipient-svg">
                    <use xlink:href="#mail"></use>
                  </svg>
                </div>
                <div class="order__recipient-text">
                  <b>E-mail:</b> Alkonst_1987@mail.ru
                </div>
              </div>
              <div class="order__recipient-item">
                <div class="order__recipient-icon">
                  <svg class="order__recipient-svg">
                    <use xlink:href="#phone"></use>
                  </svg>
                </div>
                <div class="order__recipient-text">
                  <b>Телефон:</b> +7(953) 723-41-20
                </div>
              </div>
              <div class="order__recipient-item order__recipient-item--big">
                <div class="order__recipient-icon">
                  <svg class="order__recipient-svg">
                    <use xlink:href="#map-pin"></use>
                  </svg>
                </div>
                <div class="order__recipient-text">
                  <b>Адрес:</b> г. Тамбов, ул. Набережная 28/4, кв. 124, 3920002
                </div>
              </div>
            </div>
          </div>
          <!-- ./ End of recipient -->
        </div>
        <!-- ./ End of block -->
        <!-- block -->
        <div class="order__block">
          <p class="order__block-title">Данные о заказе</p>
          <!-- info -->
          <div class="order__info">
            <div class="order__info-list">
              <p>
                <span>Сербряная медаль «Коронационное яйцо»</span>
                <span>1 745 ₽</span>
              </p>
              <p>
                <span>Сертификат подлинности, бархатный мешочек</span>
                <span>в подарок!</span>
              </p>
              <p>
                <span>Стоимость доставки и упаковки</span>
                <span>399 ₽</span>
              </p>
            </div>
            <hr class="order__info-hr">
            <div class="order__info-total">
              <span>ИТОГО</span>
              <span>2 144 ₽</span>
            </div>
          </div>
          <!-- ./ End of info -->
        </div>
        <!-- ./ End of block -->
      </div>
      <!-- ./ End of content -->
      <!-- aside -->
      <aside class="order__aside">
        ${require('./blocks/guarantees.html')}
        ${require('./blocks/banner.html')}
      </aside>
      <!-- ./ End of aside -->
    </div>
  </div>
  <!-- ./ End of wrapper -->

</section>
<!-- ./ End of order -->