<!-- promo -->
<section class="promo promo--red">
  <div class="container">
    <!-- wrapper -->
    <div class="promo__wrapper">
      <!-- promo__slider -->
      <div class="promo__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="promo__content">
              <div class="promo__left">
                <div class="promo__logo">
                  <img src="../img/logo.svg" alt="">
                </div>
                <div class="promo__info">
                  <h2 class="promo__title">Памятная медаль для каждого россиянина в честь 100-летия образования СССР
                  </h2>
                  <div class="promo__total">
                    <div class="promo__total-item">
                      <span>0 руб</span>
                      <p>Цена <br> медали</p>
                    </div>
                    <div class="promo__total-item">
                      <span>299 руб</span>
                      <p>Упаковка <br> и пересылка</p>
                    </div>
                    <div class="promo__total-item">
                      <span>299 руб</span>
                      <p>Общая стоимость <br> приобретения</p>
                    </div>
                  </div><!-- ./ End of promo__characteristics -->
                </div><!-- ./ End of promo__info -->
                <button href="#" class="promo__button button button--gold">Заказать медаль</button>
              </div><!-- ./ End of promo__left -->
              <div class="promo__right">
                <div class="promo__banner promo__banner--sssr">
                  <img src="../img/medals-1.png" alt="">
                </div>
              </div><!-- ./ End of promo__right -->
            </div>
          </div> <!-- ./ End of swiper-slide -->
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <!-- ./ End of promo__slider -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
</section>
<!-- ./ End of promo -->