<!-- social -->
<section class="social">
  <div class="container">
    <!-- wrapper -->
    <div class="social__wrapper">
      <p class="social__title">Все самое интересное в соц. сетях. Успейте подписаться!</p>
      <!-- list -->
      <div class="social__list">
        <!-- item -->
        <div class="social__item social__item--facebook">
          <div class="social__item-top"></div>
          <img class="social__item-icon" src="../img/fb.png">
          <div class="social__item-content">
            <div class="social__item-text">
              <p>Следите за самыми актуальными новостями мира нумизматики!</p>
            </div>
            <img src="https://placeimg.com/640/480/any" style="width: 100%;">
          </div>
          <div class="social__item-bottom"></div>
        </div>
        <!-- ./ End of item -->
        <!-- item -->
        <div class="social__item social__item--vk">
          <div class="social__item-top"></div>
          <img class="social__item-icon" src="../img/vk.png">
          <div class="social__item-content">
            <div class="social__item-text">
              <p>Для коллекционеров и не только — атуалные статьи о монетах и медалях !</p>
            </div>
            <img src="https://placeimg.com/640/480/any" style="width: 100%;">
          </div>
          <div class="social__item-bottom"></div>
        </div>
        <!-- ./ End of item -->
        <!-- item -->
        <div class="social__item social__item--ok">
          <div class="social__item-top"></div>
          <img class="social__item-icon" src="../img/ok.png">
          <div class="social__item-content">
            <div class="social__item-text">
              <p>Изучйте историю вместе с нами: знаменитые события, личности!</p>
            </div>
            <img src="https://placeimg.com/640/480/any" style="width: 100%;">
          </div>
          <div class="social__item-bottom"></div>
        </div>
        <!-- ./ End of item -->
        <!-- item -->
        <div class="social__item social__item--instagram">
          <div class="social__item-top"></div>
          <img class="social__item-icon" src="../img/inst.png">
          <div class="social__item-content">
            <div class="social__item-text">
              <p>Оцените красоту медалей и монет всех тематик — от религии до спорта!</p>
            </div>
            <img src="https://placeimg.com/640/480/any" style="width: 100%;">
          </div>
          <div class="social__item-bottom"></div>
        </div>
        <!-- ./ End of item -->
      </div>
      <!-- ./ End of list -->
    </div>
    <!-- ./ End of wrapper -->
  </div>
</section>
<!-- ./ End of social -->