.main-block {
  padding: 32px 24px 36px 24px;
  background: $white;
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba($black, 0.1);
}

.main-block__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-block__logo {
  display: block;
  margin: 0 0 24px 0;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.main-block__title {
  margin: 0 0 8px 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.17;
  text-align: center;
}

.main-block__text {
  font-size: 0.875rem;
  line-height: 1.43;
  color: $gray-dark;
  text-align: center;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  p + p {
    margin: 20px 0 0 0;
  }
}

.main-block__button {
  display: flex;
  flex-direction: column;
  align-self: normal;
  margin: 16px 0 0 0;
}

.main-block__form {
  margin: 20px 0 0 0;
}
