.video-block {
  @include max-width(1024px) {
    padding: 0 15px;
  }
}

.video-block__wrapper {
  --plyr-color-main: #ac003e;
  --plyr-control-icon-size: 20px;

  overflow: hidden;
  border-radius: 4px;

  .plyr--paused .plyr__controls {
    visibility: hidden;
    opacity: 0;
  }

  .plyr__poster {
    background-size: cover;
  }

  .plyr__control--overlaid {
    background: rgba($white, 0.2);
    backdrop-filter: blur(15px);

    &:hover {
      background: rgba($white, 0.4);
    }

    &:focus {
      box-shadow: 0 0 2px 2px rgba($white, 0.2);
    }

    &::before,
    &::after {
      position: absolute;
      top: -20px;
      right: -20px;
      bottom: -20px;
      left: -20px;
      z-index: 0;
      pointer-events: none;
      content: '';
      border: 2px solid $white;
      border-radius: 50%;
      opacity: 0.4;
      opacity: 0;
      animation: pulse 2s linear infinite;
    }

    &::after {
      animation-delay: 2.5s;
    }
  }
}

.video-block__inner {
  .plyr__control--overlaid {
    display: block;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
