.drawer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  text-align: right;
  white-space: nowrap;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration * 2;
  transition-property: visibility, opacity;

  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  &.active {
    visibility: visible;
    opacity: 1;

    .drawer {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .drawer {
    position: relative;
    z-index: 9;
    display: inline-block;
    width: 100%;
    max-width: 954px;
    height: 100%;
    font-size: 1rem;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    background-color: $white;
    opacity: 0;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration * 2;
    transition-property: transform, opacity;
    transform: translateX(100%);

    @include max-width(768px) {
      max-width: 100%;
    }
  }

  .drawer__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 56px 8px 8px 56px;
    text-align: left;
  }

  .drawer__close {
    position: absolute;
    top: 6px;
    right: 6px;
  }

  .drawer__content {
    flex: 1;
    padding: 0 48px 48px 0;
    overflow: auto;

    @include scrollbar(4px, $gray-light, #e8e8e8, 2px);

    @include max-width(600px) {
      padding: 0 15px;
    }
  }

  .drawer__title {
    margin: 0 0 16px 0;
  }
}

// отдельно адаптив для нескольких бандлов...
@media (max-width: 900px) {
  .drawer-wrapper {
    .drawer__inner {
      padding: 40px 8px 16px 16px;
    }

    .drawer__content {
      padding: 0 8px 0 0;
    }

    .terms__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }

    .terms__list-icon {
      margin: 0 12px 0 0;
    }

    .terms__list-image {
      max-width: 32px;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
