$fonts-path: '../fonts/';
$mont-path: $fonts-path + 'Montserrat/';
$garamond-path: $fonts-path + 'GaramondPremrPro/';

// Fonts
$mont: 'Montserrat';
$garamond: 'GaramondPremrPro';
/* stylelint-disable scss/operator-no-unspaced */
// GaramondPremrPro
@font-face {
  font-family: $garamond;
  font-style: normal;
  font-weight: 400;
  src: url($garamond-path+'GaramondPremrPro.woff');
  src: local('GaramondPremrPro'), local('GaramondPremrPro'), url($garamond-path+'GaramondPremrPro.woff') format('woff');
  font-display: swap;
}

// Montserrat
@font-face {
  font-family: $mont;
  font-style: normal;
  font-weight: normal;
  src: url($mont-path+'Montserrat-Regular.woff');
  src: local('Montserrat-Regular'), local('Montserrat-Regular'),
    url($mont-path+'Montserrat-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: $mont;
  font-style: normal;
  font-weight: 500;
  src: url($mont-path+'Montserrat-Medium.woff');
  src: local('Montserrat-Medium'), local('Montserrat-Medium'), url($mont-path+'Montserrat-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: $mont;
  font-style: normal;
  font-weight: 600;
  src: url($mont-path+'Montserrat-SemiBold.woff');
  src: local('Montserrat-SemiBold'), local('Montserrat-SemiBold'),
    url($mont-path+'Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: $mont;
  font-style: normal;
  font-weight: bold;
  src: url($mont-path+'Montserrat-Bold.woff');
  font-display: swap;
}
