<!-- modal-product -->
<div class="modal-wrapper j_modal" id="modal-forgotten">
  <div class="modal">
    <button class="modal__close button button--close j_closeModal">
      <svg>
        <use xlink:href="#close"></use>
      </svg>
    </button>
    <h6 class="modal__title h4">Восстановление пароля</h6>
    <p class="modal__subtitle"
      >Данные для смены пароля, будут высланы на e-mail, указанный при регистрации. Введите его в поле ниже.</p
    >
    <!-- form -->
    <form class="form">
      <!-- grid -->
      <div class="form__grid">
        <!-- row -->
        <div class="form__row form__row--vertical">
          <div class="form__row-label">
            <label for="email">E-mail<em>*</em></label>
          </div>
          <div class="form__row-input">
            <input id="email" type="email" class="input" />
          </div>
        </div>
        <!-- ./ End of row -->
      </div>
      <!-- ./ End of grid -->
      <!-- submit -->
      <div class="form__submit">
        <input type="submit" value="Отправить" class="button" />
      </div>
      <!-- ./ End of submit -->
      <!-- text -->
      <div class="form__text">
        <p>Забыли e-mail? Свяжитесь с нами по номеру +7&nbsp;(495)&nbsp;974-29-77 с Пн-Вс 9:00-21:00 (МСК). </p>
      </div>
      <!-- ./ End of text -->
    </form>
    <!-- ./ End of form -->
  </div>
</div>
<!-- ./ End of modal-product -->
