<!-- drawer-product -->
<div class="drawer-wrapper j_drawer" id="drawer-partner">
  <div class="drawer">
    <div class="drawer__inner">
      <button class="drawer__close button button--close j_closeDrawer">
        <svg>
          <use xlink:href="#close"></use>
        </svg>
      </button>

      <div class="drawer__content">
        <!-- partner -->
        <div class="partner">
          <!-- wrapper -->
          <div class="partner__wrapper">
            <!-- top -->
            <div class="partner__top">
              <h6 class="partner__title h4">Третьяковска галлерея</h6>
              <img src="../../img/partner-img-1.png" alt="Третьяковска  галлерея" class="partner__image">
            </div>
            <!-- ./ End of top -->
            <!-- content -->
            <div class="partner__content">
              <!-- block -->
              <div class="partner__block">
                <p>
                  <q>
                    <a href="#">www.tretyakovgallery.ru</a>
                    <span>+7 (495) 957 07 27</span>
                    <span>tretyakov@tretyakov.ru</span>
                  </q>
                </p>
              </div>
              <!-- ./ End of block -->
              <!-- block -->
              <div class="partner__block">
                <p>Третьяковская галерея — это главный музей национального искусства России, отражающий его уникальный
                  вклад в мировую культуру. Это гостеприимный музей, известный своей богатой коллекцией и многообразием
                  представленных идей.</p>
                <h6>Перед Третьяковской галереей стоят три основные цели:</h6>
                <ul>
                  <li>исследовать, сохранять, представлять и популяризировать искусство России;</li>
                  <li>формировать российскую культурную идентичность, привлекая внимание общества к той важной роли,
                    которую играют в ней искусство в целом и наша коллекция в частности. </li>
                  <li>Продолжать дело П.М. Третьякова, знакомя жителей страны с отечественным художественным наследием;
                  </li>
                  <li>делать жизнь людей лучше, открывая широкий доступ к шедеврам русского и мирового искусства.</li>
                </ul>
                <h6>Наши ценности</h6>
                <p>Мы считаем, что искусство, просвещение и творчество меняют жизнь людей к лучшему.</p>
                <h6>Гордость</h6>
                <p>Мы прославляем самобытный гений отечественных художников и осознаем большую ответственность за
                  продолжение традиций Галереи, связанных с сохранением коллекции для будущих поколений.</p>
                <h6>Ориентация на посетителей</h6>
                <p>Планируя и осуществляя свою деятельность, мы уделяем основное внимание запросам нашей аудитории.</p>
                <h6>Креативность</h6>
                <p>Мы разрабатываем новые способы работы с коллекцией и площадками; в наших проектах участвуют как
                  профессионалы, так и широкая публика.</p>
                <h6>Открытость для сотрудничества</h6>
                <p>Мы активно ищем возможности сотрудничества с другими организациями и талантливыми людьми на местном,
                  национальном и международном уровне, чтобы наши программы, публикации и мероприятия были более
                  разнообразными, качественными и актуальными.</p>
                <h6>Гостеприимство</h6>
                <p>Мы последовательно придерживаемся принципов открытости и доступности.</p>
                <h6>Соответствие высоким стандартам качества</h6>
                <p>Для всех наших посетителей и партнеров очевидна наша приверженность качеству: в научной деятельности,
                  в работе с коллекцией, в публикациях, в состоянии помещений, на нашем вебсайте, в сувенирной
                  продукции.</p>
                <h6>Профессионализм</h6>
                <p>Все подразделения соответствуют самым высоким стандартам профессионализма, коммуникации и
                  сотрудничества.</p>
              </div>
              <!-- ./ End of block -->
            </div>
            <!-- ./ End of content -->
          </div>
          <!-- ./ End of wrapper -->
        </div>
        <!-- ./ End of partner -->
      </div>
    </div>
  </div>
</div>
<!-- ./ End of drawer-product -->