<!-- drawer-product -->
<div class="drawer-wrapper j_drawer" id="drawer-terms">
  <div class="drawer">
    <div class="drawer__inner">
      <button class="drawer__close button button--close j_closeDrawer">
        <svg>
          <use xlink:href="#close"></use>
        </svg>
      </button>

      <div class="drawer__content">
        <!-- terms -->
        <div class="terms">
          <!-- wrapper -->
          <div class="terms__wrapper">
            <!-- top -->
            <div class="terms__top">
              <h6 class="terms__title h4">Условия подписки</h6>
              <p class="terms__subtitle">С услугой «Электронный платеж» получать монеты и медали стало просто!</p>
            </div>
            <!-- ./ End of top -->
            <!-- content -->
            <div class="terms__content">
              <!-- block -->
              <div class="terms__block">
                <!-- list -->
                <div class="terms__list">
                  <div class="terms__list-item">
                    <div class="terms__list-icon">
                      <img src="../../img/terms-img-1.svg" class="terms__list-image">
                    </div>
                    <div class="terms__list-content">
                      <p class="terms__list-title">Удобство и простота</p>
                      <p class="terms__list-text">Выберите медали, монеты и подключите услугу «Электронный платеж» —
                        обеспечьте себе приоритетное получение следующих ежемесячных выпусков без дополнительного
                        уведомления.</p>
                    </div>
                  </div>
                  <div class="terms__list-item">
                    <div class="terms__list-icon">
                      <img src="../../img/terms-img-2.svg" class="terms__list-image">
                    </div>
                    <div class="terms__list-content">
                      <p class="terms__list-title">100% гарантия доставки</p>
                      <p class="terms__list-text">Вы просто забираете посылку на почте. Оплата посылки будет происходить
                        автоматически, гарантируя вам своевременное получение заказа.</p>
                    </div>
                  </div>
                  <div class="terms__list-item">
                    <div class="terms__list-icon">
                      <img src="../../img/terms-img-3.svg" class="terms__list-image">
                    </div>
                    <div class="terms__list-content">
                      <p class="terms__list-title">Электронная оплата</p>
                      <p class="terms__list-text">Платежи за медали выбранной коллекции будут списаны автоматически с
                        вашей карты. Мы будем заранее уведомлять вас о списании (за 24 часа).</p>
                    </div>
                  </div>
                  <div class="terms__list-item">
                    <div class="terms__list-icon">
                      <img src="../../img/terms-img-4.svg" class="terms__list-image">
                    </div>
                    <div class="terms__list-content">
                      <p class="terms__list-title">Измените платеж в любой момент</p>
                      <p class="terms__list-text">Задать вопросы по услуге или отменить «Электронный платеж» можно,
                        позвонив в Отдел персонального обслуживания: 8 (495) 974-29-47 Пн-Вс 9:00-21:00 (МСК)</p>
                    </div>
                  </div>
                </div>
                <!-- ./ End of list -->
              </div>
              <!-- ./ End of block -->
              <!-- terms__block -->
              <div class="terms__block">
                <!-- accordion -->
                <div class="terms__accordion">
                  <!-- accordion-item -->
                  <div class="terms__accordion-item" data-accordion="terms1">
                    <button class="terms__accordion-button accordion-button">
                      Что такое Электронный платеж?
                      <div class="terms__accordion-icon">
                        <svg class="terms__accordion-svg">
                          <use xlink:href="#angle"></use>
                        </svg>
                      </div>
                    </button>
                    <div class="terms__accordion-hidden accordion-content">
                      <div class="terms__accordion-content">
                        <p>Сервис автоматического Электронного платежа создан для того, чтобы вы могли не беспокоиться о
                          своевременном получении и оплате последующих выпусков медалей серий, на которые вы подписаны.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- ./ End of accordion-item -->
                  <!-- accordion-item -->
                  <div class="terms__accordion-item" data-accordion="terms2">
                    <button class="terms__accordion-button accordion-button">
                      Как оформить Электронный платеж?
                      <div class="terms__accordion-icon">
                        <svg class="terms__accordion-svg">
                          <use xlink:href="#angle"></use>
                        </svg>
                      </div>
                    </button>
                    <div class="terms__accordion-hidden accordion-content">
                      <div class="terms__accordion-content">
                        <p>Сервис автоматического Электронного платежа создан для того, чтобы вы могли не беспокоиться о
                          своевременном получении и оплате последующих выпусков медалей серий, на которые вы подписаны.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- ./ End of accordion-item -->
                  <!-- accordion-item -->
                  <div class="terms__accordion-item" data-accordion="terms3">
                    <button class="terms__accordion-button accordion-button">
                      Как работает Электронный платеж?
                      <div class="terms__accordion-icon">
                        <svg class="terms__accordion-svg">
                          <use xlink:href="#angle"></use>
                        </svg>
                      </div>
                    </button>
                    <div class="terms__accordion-hidden accordion-content">
                      <div class="terms__accordion-content">
                        <p>Сервис автоматического Электронного платежа создан для того, чтобы вы могли не беспокоиться о
                          своевременном получении и оплате последующих выпусков медалей серий, на которые вы подписаны.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- ./ End of accordion-item -->
                  <!-- accordion-item -->
                  <div class="terms__accordion-item" data-accordion="terms4">
                    <button class="terms__accordion-button accordion-button">
                      Как отменить Электронный платеж?
                      <div class="terms__accordion-icon">
                        <svg class="terms__accordion-svg">
                          <use xlink:href="#angle"></use>
                        </svg>
                      </div>
                    </button>
                    <div class="terms__accordion-hidden accordion-content">
                      <div class="terms__accordion-content">
                        <p>Сервис автоматического Электронного платежа создан для того, чтобы вы могли не беспокоиться о
                          своевременном получении и оплате последующих выпусков медалей серий, на которые вы подписаны.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- ./ End of accordion-item -->
                </div>
                <!-- ./ End of accordion -->
              </div>
              <!-- ./ End of terms__block -->
            </div>
            <!-- ./ End of content -->
          </div>
          <!-- ./ End of wrapper -->
        </div>
        <!-- ./ End of terms -->
      </div>
    </div>
  </div>
</div>
<!-- ./ End of drawer-product -->