<!-- drawer-product -->
<div class="drawer-wrapper j_drawer" id="drawer-video">
  <div class="drawer">
    <div class="drawer__inner">
      <button class="drawer__close button button--close j_closeDrawer">
        <svg>
          <use xlink:href="#close"></use>
        </svg>
      </button>

      <div class="drawer__content">
        <!-- video -->
        <div class="video">
          <!-- wrapper -->
          <div class="video__wrapper">
            <!-- top -->
            <div class="video__top">
              <h6 class="video__title h4">Видео о монете Фаберже</h6>
            </div>
            <!-- ./ End of top -->
            <!-- content -->
            <div class="video__content">
              <!-- block -->
              <div class="video__block">
                <q>Официальный выпуск памятной медали из серебра 925 пробы, посвященной знаменитой серии
                  пасхальных яиц Карла Фаберже и выпущенной в честь 400-летия со дня восшествия Михаила Романова на
                  московский престол!</q>
              </div>
              <!-- ./ End of block -->
              <!-- block -->
              <div class="video__block">
                <div class="plyr__video-embed" data-player="video">
                  <iframe src="https://www.youtube.com/embed/bTqVqk7FSmY?origin=https://plyr.io"
                    data-poster="${require('../../img/video-cover.png')}"></iframe>
                </div>
              </div>
              <!-- ./ End of block -->
            </div>
            <!-- ./ End of content -->
          </div>
          <!-- ./ End of wrapper -->
        </div>
        <!-- ./ End of video -->
      </div>
    </div>
  </div>
</div>
<!-- ./ End of drawer-product -->